html {
  cursor: url("../images/cursor1.png"), auto;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "SuisseIntl", sans-serif;
  background-color: #FBF4EC;
}
.container1 {
  max-width: 100vw;
  margin: 0 auto;
  overflow-x: hidden;
  height: 47.92vw;
}
.block1 {
  margin-top: 0px;
  box-sizing: border-box;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  height: 10vw;
}
.block1 all {
  position:relative;
}
.circle  {
  width: 10.83vw;
}
.c1 {
    margin-left: 2.917vw;
    margin-top: -6.8vw;
}
.three {
  font-size: 1.042vw;
  letter-spacing: 5%;
  line-height: 124%;
  color: #0315B6;
}
.j {
  margin-left: 75.861vw;;
}
.p13 {
  margin-top: 20.528vw;
}
.k {
  margin-left: 75.861vw;;
}
.p19 {
    margin-top: 6.222vw;
}
/* расположение вещей */
.block2 {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding-left: 9.722vw;
  padding-right: 9.722vw;
  height: 41.944vw;
}
.ga {
  position: absolute;
  scale: 0.8;
  transition: 0.3s;
}
.pic1  {
  margin-top: -7vw;
  margin-left: -6vw;
  width: 23.333vw;
}
.picc1  {
  margin-top: -8.7vw;
  margin-left: -8.2vw;
  width: 26.73vw;
  opacity:0;
}
.pic2 {
  margin-top: -8.458vw;
  margin-left: -5.236vw;
  width: 46.458vw;
}
.picc2 {
  margin-top: -10.357999999999999vw;
  margin-left: -7.06000000000001vw;
  width: 50.458vw;
  opacity:0;
}
.pic3 {
  margin-top: 0vw;
  margin-left: 16vw;
  width: 9.583vw;
}
.picc3 {
    margin-top: -1.6vw;
    margin-left: 15.05vw;
    width: 10.783vw;
    opacity:0;
}
.pic4 {
  margin-top: 0vw;
  margin-left: 23vw;
  width:10.694vw;
}
.picc4 {
  margin-top: -2vw;
  margin-left: 22vw;
  width: 13.3vw;
  opacity:0;
  transition: 0.3s;
}
.pic9 {
  margin-top: 0vw;
  margin-left: 26vw;
  width: 15.833vw;
}
.picc9 {
  margin-top: -2.6vw;
  margin-left: 22.9vw;
  width: 21.7vw;
  opacity:0;
}
.pic10 {
  margin-top: 1vw;
  margin-left: 38vw;
  width:14.583vw;
}
.picc10 {
  margin-top: 0.3vw;
  margin-left: 36.5vw;
  width: 17.583vw;
  opacity:0;
}
.pic5 {
  margin-top: -14vw;
  margin-left: 30vw;
  width: 33.722vw;
}
.picc5 {
  margin-top: -10vw;
  margin-left: 31vw;
  width: 34.722vw;
  opacity:0;
}
.pic8 {
  margin-top: 6vw;
  margin-left: -6vw;
  width: 28.264vw;
}
.picc8 {
  margin-top: 3.8vw;
  margin-left: -8.2vw;
  width: 32.464vw;
  opacity: 0;
}
.pic11 {
  margin-top: 8vw;
  margin-left: 5vw;
  width: 55.972vw;
}
.picc11 {
  margin-top: 1.3vw;
  margin-left: 1.9vw;
  width: 61vw;
  opacity:0;
}
.pic22 {
  margin-top: 13vw;
  margin-left: 28vw;
  width: 13.889vw;
}
.picc22 {
  margin-top: 11.3vw;
  margin-left: 26vw;
  width: 17.7vw;
  opacity: 0;
}
.pic6 {
  margin-top: 5vw;
  margin-left: 48vw;
  width: 15.833vw;
}
.picc6 {
  margin-top: 4.7vw;
  margin-left: 48vw;
  width: 16.1vw;
  opacity:0;
}
.pic13 {
  margin-top: 18vw;
  margin-left: 2vw;
  width: 13.125vw;
}
.picc13 {
  margin-top: 17.6vw;
  margin-left: 1.5vw;
  width: 14.325vw;
  opacity: 0;
}
.pic21 {
  margin-top: 13vw;
  margin-left: 2vw;
  width: 19.444vw;
}
.picc21 {
  margin-top: 10.8vw;
  margin-left: -0.9vw;
  width: 26.444vw;
  opacity:0;
}
.pic19 {
  margin-top: 27vw;
  margin-left: 14vw;
  width: 8.958vw;
}
.picc19 {
  margin-top: 25.8vw;
  margin-left: 12.8vw;
  width: 11.958vw;
  opacity:0;
}
.pic15 {
  margin-top: 13vw;
  margin-left: 20vw;
  width: 13.778vw;
}
.picc15 {
  margin-top: 10.7vw;
  margin-left: 17.1vw;
  width: 19.3vw;
  opacity:0;
}
.pic7 {
  margin-top: 17.9vw;
  margin-left: 25.2vw;
  width: 13.681vw;
  opacity:0;
}
.picc7 {
  margin-top: 17.9vw;
  margin-left: 25.2vw;
  width: 13.681vw;
  opacity: 0;
}
.pic18 {
  margin-top: 18vw;
  margin-left: 33vw;
  width: 15.556vw;
}
.picc18 {
  margin-top: 14.7vw;
  margin-left: 32.9vw;
  width: 15.556vw;
  opacity:0;
}
.pic16 {
  margin-top: 8vw;
  margin-left: 49vw;
  width: 20.069vw;
}
.picc16 {
  margin-top: 9vw;
  margin-left: 42vw;
  width: 26.069vw;
  opacity:0;
}
.pic12 {
  margin-top: 27vw;
  margin-left: 30vw;
  width: 12.847vw;
}
.picc12 {
  margin-top: 24.7vw;
  margin-left: 27.49vw;
  width: 17.028vw;
  opacity:0;
  transition: 0.3s;
}
.pic17 {
  margin-top: 1vw;
  margin-left: 49vw;
  width: 10.5vw;
}
.picc17 {
  margin-top: -3.2vw;
  margin-left: 46.6vw;
  width: 19.028vw;
  opacity:0;
}
.pic14 {
  margin-top: 21vw;
  margin-left: 39vw;
  width: 11.806vw;
}
.picc14 {
  margin-top: 19vw;
  margin-left: 34.5vw;
  width: 19.2vw;
  opacity: 0;
}
.pic20 {
  margin-top: 9vw;
  margin-left: 32vw;
  width: 33.125vw;
}
.picc20 {
  margin-top: 10vw;
  margin-left: 32vw;
  width: 33.125vw;
}
.block3 {
  position: relative;
}
.p1 {
  margin-top: -49vw;
}
.l {
  margin-left: 67.472vw;
}
.p7 {
  margin-top: 4.522vw;
}
.m {
  margin-left: 81.861vw;
}
.show {
  opacity:1;
  transition: 0.3s;
}
/* чтобы работала кнопка назад (она скрывает открытую страницу) */
.hide {
  display: none;
}
.container2 {
  position: relative;
  height: 48.56vw;
  overflow: hidden;
}
.draw {
  position: absolute;
  margin-top: 7vw;
  margin-left: 8.5vw;
}
.back1 {
  margin-top: -4.889vw;
  margin-left: 25vw;
}
/* это рамка для кнопки */
.norm {
  width:13.889vw;
  height: 5.903vw;
  box-sizing: border-box;
  border-style: solid;
  border-color: #0315B6;
  border-width: 0.14vw;
}
.push1 {
  position: absolute;
  margin-top: 2.4vw;
  margin-left: 3.908vw;
  font-size: 1.6vw;
  color: #0315B6;
}
.norm:hover {
  background-color: #0315B6;
  transition: 0.5s
}
.norm:hover .push1 {
  color: #FBF4EC;
  transition: 0.5s;
}
.back2 {
  margin-top: -4.889vw;
  margin-left: 25vw;
}
.c2 {
    margin-left: 2.917vw;
}
.text {
  position: absolute;
  color: #0315B6;
  font-size: 1.528vw;
}
.t1 {
  margin-top:-2.5vw;
  margin-left:53.60vw;
}
.rectangle1  {
  position: absolute;
  background-color: #0315B6;
}
.rectangle2  {
  position: absolute;
  background-color: #0315B6;
}
.r1 {
  width:6.53vw;
  height: 1.94vw;
  margin-top: 35.64vw;
}
.r2 {
  width: 3.89vw;
  height: 5.90vw;
  margin-top: 6.89vw;
  margin-left: 97.04vw;
}
.barcode {
  position: absolute;
  width:17.57vw;
}
.br1 {
  margin-top: 37vw;
  margin-left: -6vw;
  scale: 0.8;
}
.br2 {
  margin-top: 41vw;
  margin-left: 16vw;
}
.guitar {
  position: absolute;
  width: 71.50vw;
  margin-top: 8.56vw;
  margin-left: 14.25vw;
}
.container0 {
  width: 100vw;
  background: rgb(3,21,182);
  background: linear-gradient(0deg, rgba(3,21,182,1) 0%, rgba(251,244,236,0.4937325271905637) 39%);
  overflow: hidden;
  height: 152.08vw;
}
.c0f {
  position: relative;
  height: 55.33vw;
}
.cloud {
    width:28.69vw;
    height: 8.96vw;
    box-sizing: border-box;
    border-style: solid;
    border-color: #0315B6;
    border-width: 0.14vw;
    margin-top: -2.01vw;
    margin-left:55vw;
}
.textcl {
  position: absolute;
  color: #0315B6;
  font-size: 1.528vw;
  letter-spacing: 5%;
  line-height: 124%;
}
.cloud1 {
  margin-top: 3.08vw;
  margin-left: 2.92vw;
}
.cloud:hover {
  background-color: #0315B6;
  transition: 0.5s
}
.cloud:hover .cloud1 {
  color: #FBF4EC;
  transition: 0.5s;
}
.piccloud2 {
  margin-top: -4.92vw;
  width:34.58vw;
}
.cloud2 {
  margin-top: -25.64vw;
  margin-left: 4.51vw;
  /* opacity: 0; */
}
.cloud2_2 {
  opacity:0;
}
/* неработающее движение */
.oval {
  width: 53.19vw;
  height: 28.75vw;
  display: block;
  position: relative;
  border-radius: 50%;
  margin-top: -32.64vw;
  margin-left: 39.51vw;
  overflow: hidden;
}
.fly {
  width: 100vw;
  position: relative;
}
.cloudsfly {
  animation: cloudsfly 60s linear infinite;
  /* animation-play-state: paused; */
}
@keyframes cloudsfly {
  0% {left:0; top: -13.89vw;}
  100% {left:-43.47vw; top: -13.89vw;}
}
.stroke1 {
  position: absolute;
  margin-top: -29.04vw;
  margin-left: 39.21vw;
  width: 53.54vw;
}
/* неработающий хувер для облаков */
.oval:hover {
  animation-play-state: paused;
}
.br3 {
  position: absolute;
  margin-top: -54.26vw;
  margin-left: 93.17vw;
}
/* .p5Canvas {
  windowWidth: 83.33vw;
  windowHeight: 38.19vw;
} */
.c0s {
  position: relative;
  height: 55.33vw;
}

.realcl {
  margin-left: 14vw;
  margin-top: -3vw;
  width: 88.89vw;
  height: 48.06vw;
  display: block;
  position: relative;
  background: url('../images/cloud4.png');
  background-size: cover;
  zoom: 0.85;
}

.real {
  animation: real 2s steps(1) infinite;
  animation-play-state: paused;
}
@keyframes real {
  0% {background-position: 0 top;}
  16.6% {background-position: -88.89vw top;}
  33.2% {background-position: -177.78vw top;}
  49.8% {background-position: -266.67vw top;}
  66.4% {background-position: -355.56vw top;}
  83% {background-position: -444.44vw top;}
}
.realcl:hover {
  animation-play-state: running;
}
.c0t {
  position: relative;
  height: 45.33vw;
  display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.cloudlast {
  position: relative;
  margin-top: 22vw;
  display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.anim {
  position: absolute;
  border-style: solid;
  border-color: #FBF4EC;
  border-width: 0.2vw;
}
.re1 {
  width: 55.56vw;
  height: 34.03vw;
}
.re2 {
  width: 47.22vw;
  height: 28.13vw;
}
.re3 {
  width: 37.50vw;
  height: 20.83vw;
}
.re4 {
  width: 27.08vw;
  height: 15.35vw;
}
.re5 {
  width: 16.67vw;
  height: 9.72vw;
}
.re6 {
  width: 99.56vw;
  height: 24.03vw;
  border-radius: 50%;
}
.cloud3 {
  margin-top: -24.64vw;
  margin-left: 47.51vw;
}
.cloud4 {
  color: #FBF4EC;
  text-align: center;
  margin-top: -3vw;
}
.cloud4_4 {
  opacity:0;
}
.cloudlast:hover .cloud4 {
  color: #0315B6;
  transition: 1s;
}

.finish {
  position: absolute;
  width: 1.78vw;
  height: 1.78vw;
  /* background-color: red; */
  margin-top: 16.36vw;
  margin-left: 24.51vw;
}
.finpic {
  position: absolute;
  width: 85.31vw;
  margin-left: 5vw;
  margin-top: -1vw;
}
.container3 {
  position: relative;
  width: 100vw;
  height: 48.56vw;
  overflow: hidden;
}
.back3 {
  position: absolute;
  margin-top: 38vw;
  margin-left: -4vw;
}
.t2 {
  margin-top: 1.94vw;
  margin-left: 2.64vw;
}
.t2_2 {
  opacity:0;
  margin-top: 1.94vw;
  margin-left: 2.64vw;
}
.pp3 {
  margin-left: 6.5vw;
  margin-top: 2.5vw;
}
.r3 {
  position: absolute;
  margin-left: 6.5vw;
  margin-top: 2.5vw;
}
.interior {
  display: block;
  width: 51.74vw;
  margin-left:auto;
  margin-right: auto;
  margin-top: 0vw;
}
.stroke3big {
  display: block;
  width: 60.76vw;
  margin-left: 18vw;
  margin-top: -48vw;
}
.chair {
  position: absolute;
  width: 18.47vw;
  margin-left:81.74vw;
  margin-top: -19vw;
}
.vase {
  position: absolute;
  width: 7.92vw;
  margin-left: 82.08vw;
  margin-top: -43vw;
}
.vasemini {
  position: absolute;
  width: 3.75vw;
  margin-left: 89.79vw;
  margin-top: -28vw;
}
.plate {
  position: absolute;
  width: 8.06vw;
  margin-left: 3.04vw;
  margin-top: -22vw;
}
.paddedstool {
  position: absolute;
  width: 9.65vw;
  margin-left: 10vw ;
  margin-top: -35vw;
}
.vase3 {
  position: absolute;
  width: 10.90vw;
  margin-left: 9.24vw;
  margin-top: -20vw;
}
.br4 {
  margin-top: -52vw;
  margin-left: 72vw;
}
.c3 {
    margin-left: 10vw;
    margin-top: -1vw;
}
.r4 {
    margin-left: 95vw;
    margin-top: -52vw;
    width:6.53vw;
    height: 1.94vw;
}
.oval:active {
    cursor: url("../images/cursor2.png"), auto;
}
.realcl:active {
    cursor: url("../images/cursor2.png"), auto;
}
.cloudlast:active {
    cursor: url("../images/cursor2.png"), auto;
}
.draw:active {
    cursor: url("../images/cursor3.png"), auto;
}
.rectngfly1 {
  /* position: fixed;
  top: 0vw;
  left: 0vw; */
  width: 14.17vw;
  height: 10.69vw;
  margin-left: 4vw;
  margin-top: -38vw;
  overflow: hidden;
  transition: all .5s;
}
.rectstroke {
  position: absolute;
  width: 14.17vw;
  height: 10.69vw;
  margin-left: 8vw;
  margin-top: -8vw;
  border-style: solid;
  border-color: #0315B6;
  border-width: 0.2vw;
}
.rectngfly2 {
  position: absolute;
  width: 14.17vw;
  height: 10.69vw;
  margin-left: 81vw;
  margin-top: 25vw;
  overflow: hidden;
  border-style: solid;
  border-color: #0315B6;
  border-width: 0.2vw;
}
.star {
  position: absolute;
  width: 17.01vw;
  margin-left: -80vw;
  margin-top: -42vw;
}
.c4 {
  width: 15vw;
  margin-left: 97vw;
  margin-top: 11vw;
}
.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
.textlitlle {
  position: absolute;
  color: #0315B6;
  font-size: 1.02vw;
}
.txl1 {
  margin-left: 31vw;
  margin-top: -28vw;
}
.txl2 {
  margin-left: 22vw;
  margin-top: -7vw;
}
.txl3 {
  margin-left: 43vw;
  margin-top: 1vw;
}
.txl4 {
  margin-left: 97vw;
  margin-top: -32vw;
}
.txl5 {
  margin-left: 95vw;
  margin-top: -30vw;
}
.txl6 {
  margin-left: 53vw;
  margin-top: -40vw;
}
.txl7 {
  margin-left: 10vw;
  margin-top: -2vw;
}
.txl9 {
  margin-left: 21vw;
  margin-top: 1vw;
}
.txl10 {
  margin-left: 96vw;
  margin-top: 20vw;
}
.txl11 {
  margin-left: 88vw;
  margin-top: 30vw;
}
.txl12 {
  margin-left: 5vw;
  margin-top: 68vw;
}
.txl13 {
  margin-left: 10vw;
  margin-top: 72vw;
}
.txl14 {
  margin-left: 50vw;
  margin-top: 74vw;
}
.txl15 {
  margin-left: 82vw;
  margin-top: -28vw;
}
/* анимация которая не работает */
@keyframes hypno2 {
  0% {scale:1; opacity:1;}
  90% {opacity:1;}
  100% {scale: 0.5; opacity:0;}
}
@keyframes hypno3 {
  0% {scale:1; opacity:1;}
  90% {opacity:1;}
  100% {scale: 0.5; opacity:0;}
}
@keyframes hypno4 {
  0% {scale:1; opacity:1;}
  90% {opacity:1;}
  100% {scale: 0.5; opacity:0;}
}
@keyframes hypno6 {
  0% {scale:1.3; opacity:0;}
  20% {opacity:1;}
  80% {opacity:1;}
  100% {scale: 0.4; opacity:0;}
}
.re6 {
  animation: hypno6 3s  linear infinite;
}
.anim:hover.cloud4 {
  color: #0315B6;
}
.anim:hover  {
  color: #0315B6;
}
.r5 {
  margin-left: -1vw;
  margin-top: -10vw;
  width: 3.89vw;
  height: 5.9vw;
}
.r6 {
  margin-left: 85vw;
  margin-top: 13vw;
  width: 15vw;
  height: 1.94vw;
}
