@font-face {
  font-family: "SuisseIntl";
  src: url("../fonts/SuisseIntl-Regular.otf") format("opentype"),
    url("../fonts/SuisseIntl-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
